<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>BitMart</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <!-- <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li> -->
                </ul>
            </div>
            <div class="footer-col">
                <h4>Navigate</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/wishlist">Wishlist</a></li>
                    <li><a href="/product">Products</a></li>

                </ul>
            </div>
            <div class="footer-col">
                <h4>Our Team</h4>
                <ul>
                    <li>
                        <h4>Linken Vashista</h4>
                    </li>
                    <li>
                        <h4>Dewansh Chandra</h4>
                    </li>
                    <li>
                        <h4>Parthiv Sarkar</h4>
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <img src="https://res.cloudinary.com/dewansh/image/upload/v1640249732/BitMart/Products/logo_o51iju.png"
                    alt="">
            </div>
        </div>
        <h3>© Copyright 2021 &nbsp;&nbsp;&nbsp;@DLP</h3>
    </div>
</footer>