<!DOCTYPE html>

<html>

<head>

    <title>Shopping Cart</title>

    <link rel="stylesheet" type="text/css" href="/css/cart.css">

    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="container">
        <h1 style="color: #45ccb8;"> Shopping Cart</h1>
        <div class="cart">
            <div class="products">
                <div class="product" id="1">
                    <img
                        src="https://media.istockphoto.com/photos/brown-leather-shoe-picture-id187310279?b=1&k=20&m=187310279&s=170667a&w=0&h=5Fc9XC5hfvpffZwfE-BzK6DcajqdN3sQjnPJa-Z0Rnk=">
                    <div class="product-info">
                        <h3 class="product-name">New Shoes</h3>
                        <h4 class="product-price">2000

                        </h4>

                        <p class="product-quantity">Qnt: <input value="1" name="">
                            <br>
                        <p class="product-remove">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            <span class="remove">Remove</span>
                        </p>
                    </div>
                </div>
                <div class="product" id="2">
                    <img src="https://media.istockphoto.com/photos/blue-book-stack-picture-id1290063471?b=1&k=20&m=1290063471&s=170667a&w=0&h=oLiQoa2Ewu9HKfBJzzvInI41vei54HLoEakxvIJvnsg="
                        width="400">
                    <div class="product-info">
                        <h3 class="product-name">New Book</h3>
                        <h4 class="product-price">2200

                        </h4>

                        <p class="product-quantity">Qnt: <input value="1" name="">
                        <p class="product-remove">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            <span class="remove">Remove</span>
                        </p>
                    </div>
                </div>

            </div>
            <!-- <div class="cart-total">
                <p>
                    <span>Number of Items</span>
                    <span id="tot-item"></span>
                </p>
                <p>
                    <span>Taxes</span>
                    <span id="tot-tax"> </span>
                </p>
                <p>
                    <span>Total Price</span>
                    <span id="tot-price"></span>
                </p>


                <a href="#">Proceed to Checkout</a>
            </div> -->
        </div>
    </div>
    <script src="/js/cart.js"></script>
</body>

</html>